$color-light-primary: #f7f7f7;
$color-light-seconday: #eaeaea;

$color-green: #7ed56f;
$color-green-light: #55c57a;
$color-green-dark: #28b485;

$color-red: #ea3546;
$color-red-dark: #f56464;

$color-orange: #f86624;
$color-organge-light: #f88b24;

$color-violet: #662e9b;
$color-violet-light: #7c4d83;

$color-tertiary: #43bccd;

$color-black: black;
$color-white: white;
$color-grey-dark: grey;

$color-primary: #ffc60ac5;
$color-primary-dark: rgba(255, 157, 10, 0.773);
$color-primary-light: #fdf03d;
