/*! Generales */
@import url(./partials/_general.css);
/*! Header */
@import url(./partials/_header.css);
/*! Footer */
@import url(./partials/_footer.css);

img {
  width: 100%;
}

h2 {
  text-align: center;
}

.ccAboutUs p {
  margin: 20px 0;
}