/** IMPORTS */
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text&family=Raleway:wght@100;200;300;400;700&display=swap');
@import url('./partials/_header.css');
@import url('./partials/_footer.css');
@import url('./partials/_index.css');
@import url('./partials/_products.css');
@import url('./partials/_singleProduct.css');
@import url('./partials/_about.css');
@import url('./partials/_contact.css');
@import url('./partials/_cart.css');
@import url('./partials/_login.css');
@import url('./partials/_register.css');
@import url('./partials/_thankYou.css');

:root {
  --platinum: #eaeaea;
}
* {
  box-sizing: border-box;
  margin: 0;
}
body {
  font-family: "Raleway";
  font-size: 1em;
  background-color: var(--platinum);
}
p {
  font-weight: 300;
  margin: 0;
  padding: 0;
}
