/*' IMPORTS */
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text&family=Raleway:wght@100;200;300;400;700&display=swap');

@import url(./partials/_header.css);
@import url(./partials/_footer.css);
@import url(./partials/_about.css);
@import url(./partials/_admin.css);
@import url(./partials/_carrito.css);
@import url(./partials/_contact.css);
@import url(./partials/_index.css);
@import url(./partials/_products.css);
@import url(./partials/_registerUser.css);
@import url(./partials/_uploadProduct.css);
@import url(./partials/_user.css);

:root {
  --platinum: #eaeaea;
  
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Raleway";
  font-size: 1em;
  background-color: var(--platinum);
}

p {
  font-weight: 300;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "DM Serif Text";
}