<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/_head.ejs') %>
  <title>Productos - Spice Node</title>
</head>

<body>
  <%- include('./partials/_header.ejs') %>

  <!-- Main -->
  <main class="bg-ligth">
    <section class="ccProductos container shadow py-4 px-5 bg-white">
      <h2>Presentación individual</h2>
      <div class="row">
        <div class="col-6 col-lg-4">
          <div class="ccProductBox d-flex flex-wrap flex-column align-items-center">
            <img src="/images/cajun.png" alt="producto_1">
            <h3>Bayou Cajun</h3>
            <p>Lorem, ipsum dolor.</p>
            <p class="ccPrecio">$200</p>
          </div>
        </div>
        <div class="col-6 col-lg-4">
          <div class="ccProductBox d-flex flex-wrap flex-column align-items-center">
            <img src="/images/tikka.png" alt="producto_2">
            <h3>Savory Tikka</h3>
            <p>Lorem, ipsum dolor.</p>
            <p class="ccPrecio">$200</p>
          </div>
        </div>
        <div class="col-6 col-lg-4">
          <div class="ccProductBox d-flex flex-wrap flex-column align-items-center">
            <img src="/images/vindaloo.png" alt="producto_3">
            <h3>Fiery Vindaloo</h3>
            <p>Lorem, ipsum dolor.</p>
            <p class="ccPrecio">$200</p>
          </div>
        </div>
        <div class="col-6 col-lg-4">
          <div class="ccProductBox d-flex flex-wrap flex-column align-items-center">
            <img src="/images/curry.png" alt="producto_4">
            <h3>Golden Curry</h3>
            <p>Lorem, ipsum dolor.</p>
            <p class="ccPrecio">$200</p>
          </div>
        </div>
        <div class="col-6 col-lg-4">
          <div class="ccProductBox d-flex flex-wrap flex-column align-items-center">
            <img src="/images/tapas.png" alt="producto_5">
            <h3>Spanish Tapas</h3>
            <p>Lorem, ipsum dolor.</p>
            <p class="ccPrecio">$200</p>
          </div>
        </div>
        <div class="col-6 col-lg-4">
          <div class="ccProductBox d-flex flex-wrap flex-column align-items-center">
            <img src="/images/chilifire.png" alt="producto_6">
            <h3>Sweet Chilifire</h3>
            <p>Lorem, ipsum dolor.</p>
            <p class="ccPrecio">$200</p>
          </div>
        </div>
      </div>
    </section>

    <section class="ccCombos container shadow py-4 px-5 bg-white">
      <h2>Nuestros combos</h2>
      <div class="row">
        <div class="col-6 col-lg-4">
          <div class="ccComboBox d-flex flex-wrap flex-column align-items-center">
            <img src="/images/combo1.png" alt="combo_1">
            <h3>Bayou Cajun</h3>
            <p>Lorem, ipsum dolor.</p>
            <p class="ccPrecio">$200</p>
          </div>
        </div>
        <div class="col-6 col-lg-4">
          <div class="ccComboBox d-flex flex-wrap flex-column align-items-center">
            <img src="/images/combo2.png" alt="combo_2">
            <h3>Savory Tikka</h3>
            <p>Lorem, ipsum dolor.</p>
            <p class="ccPrecio">$200</p>
          </div>
        </div>
        <div class="col-6 col-lg-4">
          <div class="ccComboBox d-flex flex-wrap flex-column align-items-center">
            <img src="/images/combo3.png" alt="combo_3">
            <h3>Fiery Vindaloo</h3>
            <p>Lorem, ipsum dolor.</p>
            <p class="ccPrecio">$200</p>
          </div>
        </div>
        <div class="col-6 col-lg-4">
          <div class="ccComboBox d-flex flex-wrap flex-column align-items-center">
            <img src="/images/combo4.png" alt="combo_4">
            <h3>Golden Curry</h3>
            <p>Lorem, ipsum dolor.</p>
            <p class="ccPrecio">$200</p>
          </div>
        </div>
        <div class="col-6 col-lg-4">
          <div class="ccComboBox d-flex flex-wrap flex-column align-items-center">
            <img src="/images/combo5.png" alt="combo_5">
            <h3>Spanish Tapas</h3>
            <p>Lorem, ipsum dolor.</p>
            <p class="ccPrecio">$200</p>
          </div>
        </div>
        <div class="col-6 col-lg-4">
          <div class="ccComboBox d-flex flex-wrap flex-column align-items-center">
            <img src="/images/combo6.png" alt="combo_6">
            <h3>Sweet Chilifire</h3>
            <p>Lorem, ipsum dolor.</p>
            <p class="ccPrecio">$200</p>
          </div>
        </div>
      </div>
    </section>
  </main>

  <!-- Footer -->
  <%- include('./partials/_footer.ejs') %>
  <!-- Bootstrap scrips -->
  <%- include('./partials/_bootstrapscripts.ejs') %>
</body>

</html>