<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/_head.ejs') %>
  <title> Carrito - Spice Node </title>
</head>

<body>
  <%- include('./partials/_header.ejs') %>
  <div class="ccMasterCart">
    <main class="container">
      <!-- Carrito -->
      <div class="row mt-3">
        <div class="col-12 col-md-8">
          <h2>Tu carrito</h2>
          <section class="ccCarrito shadow">
            <article class="ccProductoEnCarrito d-flex flex-wrap align-items-center bg-white py-4">
              <img src="/images/cajun.png" alt="">
              <div class="ccDetalleProducto flex-grow-1">
                <div class="ccNombreProdYPrecio d-flex flex-wrap justify-content-between pr-3">
                  <h5 class="mb-2">Nombre del producto</h5>
                  <p class="text-success">$100</p>
                </div>
                <button class="btn btn-danger btn-sm">-</button>
                <input type="text" name="" id="">
                <button class="btn btn-success btn-sm">+</button>
              </div>
            </article>
            <article class="ccProductoEnCarrito d-flex flex-wrap align-items-center bg-white py-4">
              <img src="/images/cajun.png" alt="">
              <div class="ccDetalleProducto flex-grow-1">
                <div class="ccNombreProdYPrecio d-flex flex-wrap justify-content-between pr-3">
                  <h5 class="mb-2">Nombre del producto</h5>
                  <p class="text-success">$100</p>
                </div>
                <button class="btn btn-danger btn-sm">-</button>
                <input type="text" name="" id="">
                <button class="btn btn-success btn-sm">+</button>
              </div>
            </article>
            <article class="ccProductoEnCarrito d-flex flex-wrap align-items-center bg-white py-4">
              <img src="/images/cajun.png" alt="">
              <div class="ccDetalleProducto flex-grow-1">
                <div class="ccNombreProdYPrecio d-flex flex-wrap justify-content-between pr-3">
                  <h5 class="mb-2">Nombre del producto</h5>
                  <p class="text-success">$100</p>
                </div>
                <button class="btn btn-danger btn-sm">-</button>
                <input type="text" name="" id="">
                <button class="btn btn-success btn-sm">+</button>
              </div>
            </article>
          </section>
        </div>
        <!-- Total del ticket -->
        <div class="col-12 col-md-4">
          <section class="ccTicket mt-4 mt-md-0">
            <h3>Ticket</h3>
            <ul class="list-group shadow">
                <li class="list-group-item d-flex flex-wrap justify-content-between">
                  <h6>Producto 1</h6>
                  <h6>$100</h6>
                </li>
                <li class="list-group-item d-flex flex-wrap justify-content-between">
                  <h6>Producto 1</h6>
                  <h6>$100</h6>
                </li>
                <li class="list-group-item d-flex flex-wrap justify-content-between">
                  <h6>Producto 1</h6>
                  <h6>$100</h6>
                </li>
                <li class="list-group-item d-flex flex-wrap justify-content-between">
                  <h6>Producto 1</h6>
                  <h6>$100</h6>
                </li>
                <li class="ccTotalTicket list-group-item d-flex flex-wrap justify-content-between bg-secondary text-light">
                  <h6 class="font-weight-bold">Total</h6>
                  <h6 class="font-weight-bold">$1000</h6>
                </li>
              </ul>
            <a href="/gracias"><button type="submit" class="btn btn-success w-100 mt-2">Confirmar compra</button></a>
          </section>
        </div>
      </div>
    </main>
  </div>
  <!-- Footer -->
  <%- include('./partials/_footer.ejs') %>
  <!-- Bootstrap scrips -->
  <%- include('./partials/_bootstrapscripts.ejs') %>
</body>

</html>