<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/_head.ejs') %>
  <!-- Custom CSS -->
  <title>Contacto - Spice Node</title>
</head>

<body>
  <!-- Header -->
  <%- include('./partials/_navBar.ejs') %>

  <header class="header d-flex justify-content-center align-items-center">
    <div class="header__text-box">
      <h1 class="heading-header">
        <span class="heading-header--main">Contacto</span>
      </h1>
    </div>
  </header>

  <h2 class="heading-secondary">Contactate con nosotros</h2>

  <div class="contact container-sm bg-white shadow p-5 mt-5 rounded">
    <div class="contact__info">
      <h3 class="heading-tertiary text-center">¿Tenés una consulta? Envianos un mail.</h3>
      <p class="text-center"><a href="mailto:spicenode4@gmail.com">spicenode4@gmail.com</a></p>
      <hr>
      <h6>Av. Siempre Viva 1234, Springfield</h6>
    </div>
    <!-- Formulario de Contacto-->
    <div class="contact__form">
      <form>
        <div class="form-group">
          <label for="contactName">Nombre</label>
          <input type="text" name="contactName" class="form-control" id="">
        </div>
        <div class="form-group">
          <label for="contactEmail">Correo electrónico</label>
          <input type="email" name="contactEmail" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="form-group">
          <label for="contactMessage">Escríbenos tu mensaje</label>
          <textarea class="form-control" name="contactMessage" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-primary botonEnviar">Enviar mensaje</button>
      </form>
    </div>
  </div>
  </div>

  <!-- Footer -->
  <%- include('./partials/_footer.ejs') %>

  <!-- Scripts de Bootstrap -->
  <%- include('./partials/_bootstrapscripts.ejs') %>
</body>

</html>