<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/_head.ejs') %>
  <!-- Custom CSS -->
  <link rel="stylesheet" href="/stylesheets/contacto.css">
  <title>Contacto - Spice Node</title>
</head>

<body>
  <!-- Header -->
  <%- include('./partials/_header.ejs') %>

  <div class="contacto-portada">
    <h1 class="">Contactate</h1>
  </div>

  <div class="container bg-white shadow p-5 mt-5 rounded">
    <div class="datos-contacto">
      <h2>¿Tenés una consulta? Envianos un mail.</h2>
      <p><a href="mailto:spicenode4@gmail.com">spicenode4@gmail.com</a></p>
      <hr>
      <h6>Av. Siempre Viva 1234, Springfield</h6>
    </div>
    <!-- Formulario de Contacto-->
    <div class="formularioContacto">
      <form>
        <div class="form-group contactoForm">
          <label for="nombre">Nombre</label>
          <input type="nombre" class="form-control" id="">
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Correo electrónico</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Escríbenos tu mensaje</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-primary botonEnviar">Enviar mensaje</button>
      </form>
    </div>
  </div>
  </div>

  <!-- Footer -->
  <%- include('./partials/_footer.ejs') %>

  <!-- Scripts de Bootstrap -->
  <%- include('./partials/_bootstrapscripts.ejs') %>
</body>

</html>