<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/_head.ejs') %>
  <title>Carga de Productos - Spice Node</title>

</head>

<body>
  <%- include('./partials/_header.ejs') %>
  <div class="ccMasterAdmin">
    <!-- Formulario de carga de productos -->
    <div class="ccFormularioSubirProducto container d-flex flex-wrap flex-column align-items-center">
      <h2 class="pt-5">Bienvenido nombreDeLaPersona</h2>
      <p>Por favor complete la información requerida para cargar un producto</p>
      <div class="ccDetalleSubirProducto mt-5 bg-white shadow p-5">
        <h3>Detalle del producto</h3>
        <form action="/products" method="POST" enctype="multipart/form-data">
          <div class="form-row">
            <div class="form-group col-12">
              <label for="productID">ID</label>
              <input type="text" id="inputProductID" name="productID" class="form-control" placeholder="Ej.: 123">
            </div>
            <div class="form-group col-12">
              <label for="productName">Nombre de producto</label>
              <input type="text" id="inputProductName" name="productName" class="form-control" placeholder="Ej.: $100">
            </div>
            <div class="form-group col-12">
              <label for="productDescription">Descripción</label>
              <input type="text" id="inputProductDescription" name="productDescription" class="form-control" placeholder="Ej.:Es un condimento muy rico">
            </div>
            <div class="form-group col-12">
              <label class="text-secondary" for="productImage">Archivos en PNG o JPEG</label>
              <input type="file" class="form-control-file" id="inputProductImage" name="productImage">
            </div>
            <div class="form-group col-12">
              <label for="productCategory">Categoría de producto</label>
              <input type="text" id="inputProductCategory" name="productCategory" class="form-control" placeholder="Ej.: Picante">
            </div>
            <div class="form-group col-12">
              <label for="productPrice">Precio</label>
              <input type="text" id="inputProductPrice" name="productPrice" class="form-control" placeholder="Ej.: $100">
            </div>
          </div>
          <button type="submit" class="btn btn-success btn-sm">Confirmar carga</button>
        </form>
      </div>
    </div>
  </div>
  <%- include('./partials/_bootstrapscripts.ejs') %>
</body>

</html>