<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/_head.ejs') %>
  <title>Gracias por tu compra</title>
</head>

<body>
  <main class="ccThankYou d-flex align-items-center">
    <div class="ccMensajeThankYou container d-flex flex-wrap flex-column align-content-center bg-white shadow py-5 rounded">
      <h1>Gracias por tu compra! 😃</h1>
      <p>Esperamos verte pronto denuevo!</p>
    </div>
  </main>
</body>

</html>