*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  // font-size: 10px;
}

body {
  font-family: "Lato", Helvetica, sans-serif;
  font-weight: 400;
  font-size: 1em;
  background-color: $color-light-primary;
}
