<header class="sticky-top">
  <div class="ccHeader1 p-2 d-flex flex-wrap justify-content-between align-items-cente bg-dark">
    <div class="ccSocial">
      <a href=""><i class="fab fa-instagram"></i></a>
      <a href=""><i class="fab fa-facebook-square"></i></a>
      <a href=""><i class="fab fa-pinterest-square"></i></a>
    </div>
    <div class="ccShipping">
      <p>we ship worldwide</p>
    </div>
  </div>
  <div class="ccHeader2 p-2 d-flex flex-wrap flex-column align-items-center flex-md-row justify-content-md-around">
    <div class="ccSearchBar p-1">
      <form action="#">
        <input type="text" name="" id="">
        <button type="submit"><i class="fas fa-pepper-hot"></i></button>
      </form>
    </div>
    <a href="/" class="p-1"><img src="/images/logo.png" alt="spicenode_logo"></a>
    <div class="ccUsuario p-1">
      <ul class="d-flex flex-wrap">
        <li><i class="fas fa-user"></i><a href="/users/login">login</a></li>
        <li><i class="fas fa-sign-in-alt"></i><a href="/users/register">registro</a></li>
        <li><i class="fas fa-shopping-cart"></i><a href="/cart">mi carrito</a></li>
      </ul></i>
    </div>
  </div>
  <nav class="ccHeader3 bg-white">
    <ul class="d-flex flex-wrap">
      <li><a href="/">home</a></li>|
      <li><a href="/about">about</a></li>|
      <li><a href="/products">productos</a></li>|
      <li><a href="/contact">contacto</a></li>
    </ul>
  </nav>
</header>