footer {
  background-color: black;
  padding: 20px 0;
}
footer ul {
  padding: 0;
  list-style-type: none;
}
footer ul li a {
  text-transform: uppercase;
  font-weight: 300;
  color: white;
}
footer nav.ccFNavBarUsuario {
  margin-left: 60px;
}
.ccFooter2 {
  background-color: #eaeaea;
}
.ccFooter2 .ccCreditos p {
  margin: 0;
  text-align: center;
  letter-spacing: 2px;
  color: grey;
  font-weight: 100;
  font-size: 0.8rem;
}