/** Cards */
.ccCards .row .col-12 div i {
  font-size: 50px;
}
.ccCards .row .col-12 .ccCard {
  text-align: center;
}
.ccCards .row .col-12 .ccCard i {
  margin-bottom: 20px;
  color: #ffc60a;
}
.ccCards .row .col-12 .ccCard h4 {
  margin-bottom: 4px;
}
.ccCards .row .col-12 .ccCard p {
  margin-top: 10px;
  font-weight: 200;
}
/** Main */
main.ccIndexMaster {
  background-color: var(--platinum);
}
main.ccIndexMaster .ccProductos {
  margin-top: 60px;
}
main.ccIndexMaster .ccProductos h2 {
  font-size: 3rem;
  text-align: center;
  margin: 20px 0;
}
main.ccIndexMaster .ccProductos .row .col-6 .ccProductBox {
  text-align: center;
}
main.ccIndexMaster .ccProductos .row .col-6 .ccProductBox img {
  max-width: 100%;
  padding: 10px;
}
main.ccIndexMaster .ccProductos .row .col-6 .ccProductBox p {
  margin-bottom: 5px;
  font-weight: 200;
}
main.ccIndexMaster .ccProductos .row .col-6 .ccProductBox .ccPrecio {
  font-weight: 300;
  color: green;
}
main.ccIndexMaster .ccCombos {
  margin-top: 60px;
}
main.ccIndexMaster .ccCombos h2 {
  font-size: 3rem;
  text-align: center;
  margin: 20px 0;
}
main.ccIndexMaster .ccCombos .row .col-6 .ccComboBox {
  text-align: center;
}
main.ccIndexMaster .ccCombos .row .col-6 .ccComboBox img {
  max-width: 100%;
  padding: 10px;
}
main.ccIndexMaster .ccCombos .row .col-6 .ccComboBox p {
  margin-bottom: 5px;
  font-weight: 200;
}
main.ccIndexMaster .ccCombos .row .col-6 .ccComboBox .ccPrecio {
  font-weight: 300;
  color: green;
}