/** Producto */
/*!Porque me modifica el color de todos los parrafos? No tendria que modificar solo lo que esta dentro del section ccInfoProductos? */
.ccInfoProducto p:nth-of-type(1) {
  color: grey;
}
.ccInfoProducto p:nth-of-type(2) {
  color: green;
  font-size: 25px;
}

/** Productos relacioados */
.ccProductosRelacionados h2 {
  text-align: center;
  font-size: 3rem;
}
.ccProductoRelacionado p:nth-of-type(1) {
  font-weight: 200;
}
.ccProductoRelacionado p:nth-of-type(2) {
  color: green;
}

.carousel {
  
}
.carousel .row div:nth-of-type(3) {
  display: none;
}

.carousel-control-next,
.carousel-control-prev {
    filter: invert(100%);
}

.ccProductoRelacionado img {
  max-width: 100%
}

@media (min-width: 768px) {
  .carousel .row div:nth-of-type(3) {
  display: block;
}
  .ccProductoRelacionado img {
    max-width: 100%;
  }
}

/******************* TODOS LOS PRODUCTOS *******************/

main {
  background-color: var(--platinum);
}
main .ccProductos {
  margin-top: 60px;
}
main .ccProductos h2 {
  font-size: 3rem;
  text-align: center;
  margin: 20px 0;
}
main .ccProductos .row .col-6 .ccProductBox {
  text-align: center;
}
main .ccProductos .row .col-6 .ccProductBox img {
  max-width: 100%;
  padding: 10px;
}
main .ccProductos .row .col-6 .ccProductBox p {
  margin-bottom: 5px;
  font-weight: 200;
}
main .ccProductos .row .col-6 .ccProductBox .ccPrecio {
  font-weight: 300;
  color: green;
}
main .ccCombos {
  margin-top: 60px;
}
main .ccCombos h2 {
  font-size: 3rem;
  text-align: center;
  margin: 20px 0;
}
main .ccCombos .row .col-6 .ccComboBox {
  text-align: center;
}
main .ccCombos .row .col-6 .ccComboBox img {
  max-width: 100%;
  padding: 10px;
}
main .ccCombos .row .col-6 .ccComboBox p {
  margin-bottom: 5px;
  font-weight: 200;
}
main .ccCombos .row .col-6 .ccComboBox .ccPrecio {
  font-weight: 300;
  color: green;
}