/******************* TODOS LOS PRODUCTOS *******************/

.ccAllProductsMain {
  background-color: var(--platinum);
}
.ccAllProductsMain .ccProductos {
  margin-top: 60px;
}
.ccAllProductsMain .ccProductos h2 {
  font-size: 3rem;
  text-align: center;
  margin: 20px 0;
}
.ccAllProductsMain .ccProductos .row .col-6 .ccProductBox {
  text-align: center;
}
.ccAllProductsMain .ccProductos .row .col-6 .ccProductBox img {
  max-width: 100%;
  padding: 10px;
}
.ccAllProductsMain .ccProductos .row .col-6 .ccProductBox p {
  margin-bottom: 5px;
  font-weight: 200;
}
.ccAllProductsMain .ccProductos .row .col-6 .ccProductBox .ccPrecio {
  font-weight: 300;
  color: green;
}
.ccAllProductsMain .ccCombos {
  margin-top: 60px;
}
.ccAllProductsMain .ccCombos h2 {
  font-size: 3rem;
  text-align: center;
  margin: 20px 0;
}
.ccAllProductsMain .ccCombos .row .col-6 .ccComboBox {
  text-align: center;
}
.ccAllProductsMain .ccCombos .row .col-6 .ccComboBox img {
  max-width: 100%;
  padding: 10px;
}
.ccAllProductsMain .ccCombos .row .col-6 .ccComboBox p {
  margin-bottom: 5px;
  font-weight: 200;
}
.ccAllProductsMain .ccCombos .row .col-6 .ccComboBox .ccPrecio {
  font-weight: 300;
  color: green;
}